div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1360px;
}
body {
   background-attachment: scroll;
   background-color: #FFFFFF;
   background-image: url('../images/wp3354893-gradient-blur-wallpapers.jpg');
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   overflow-x: scroll;
   text-align: center;
}
* {
   scrollbar-color: rgba(255,255,255,1.00) rgba(17,0,16,1.00);
   scrollbar-width: thin;
}
::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-track {
   background: rgba(17,0,16,1.00);
}
::-webkit-scrollbar-thumb {
   background-color: rgba(255,255,255,1.00);
   border: 2px solid rgba(0,0,0,1.00);
   border-radius: 2px;
}
::-webkit-scrollbar-corner {
   background: rgba(17,0,16,1.00);
}
::-webkit-scrollbar-thumb:hover {
   background-color: rgba(17,0,16,1.00);
   border-color: rgba(17,0,16,1.00);
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text1 div {
   text-align: center;
}
#wb_Image2 {
   vertical-align: top;
}
#Image2 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#Shape1 {
   border-width: 0;
   vertical-align: top;
}
#wb_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2 {
   color: #FFFFFF;
   font-family: Blackout;
   font-size: 53px;
   font-weight: 400;
   line-height: 55px;
}
#wb_Text2 p,
#wb_Text2 ul {
   margin: 0;
   padding: 0;
}
#wb_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text3 {
   color: #000000;
   font-family: Boldfinger;
   font-size: 35px;
   font-weight: 400;
   line-height: 39px;
}
#wb_Text3 p,
#wb_Text3 ul {
   margin: 0;
   padding: 0;
}
#wb_Image3 {
   vertical-align: top;
}
#Image3 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: justify;
}
#wb_Text4 {
   color: #000000;
   font-family: Abel;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
}
#wb_Text4 p,
#wb_Text4 ul {
   margin: 0;
   padding: 0;
}
#homeButton {
   -webkit-appearance: none;
   background-color: #420E09;
   background-image: none;
   border: 0px solid #2E6DA4;
   border-radius: 20px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Bahnschrift;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 44px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
}
}
#homeButton:focus {
   outline: 0;
}
#wb_Text5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   opacity: 0.10;
   padding: 0;
   text-align: left;
   transform: rotate(90deg);
}
#wb_Text5 {
   color: #000000;
   font-family: Blackout;
   font-size: 128px;
   font-weight: 400;
   line-height: 130px;
}
#wb_Text5 p,
#wb_Text5 ul {
   margin: 0;
   padding: 0;
}
#YouTube1 {
   border-width: 0;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
}
#YouTube2 {
   border-width: 0;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
}
#Button1 {
   -webkit-appearance: none;
   background-color: #FF0000;
   background-image: none;
   border: 0px solid #2E6DA4;
   border-radius: 20px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.40);
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Bahnschrift;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 44px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
}
}
#Button1:focus {
   outline: 0;
}
#wb_Text10 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text10 {
   color: #000000;
   font-family: Boldfinger;
   font-size: 35px;
   font-weight: 400;
   line-height: 39px;
}
#wb_Text10 p,
#wb_Text10 ul {
   margin: 0;
   padding: 0;
}
.navbar .nav {
   color: #454545;
   font-family: "Pompiere ";
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   text-align: left;
}
#navbar,
.navbar .nav,
.navbar * {
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
   margin: 0;
   padding: 0;
}
.navbar .nav:before,
.navbar .nav:after {
   content: " ";
   display: table;
}
.navbar .nav:after {
   clear: both;
}
.navbar .nav a {
   text-decoration: none;
}
.navbar .nav ul {
   margin-bottom: 0;
   margin-top: 0;
}
.navbar .nav ul ul {
   margin-bottom: 0;
}
.navbar .container {
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}
.navbar .container:before,
.navbar .container:after {
   content: " ";
   display: table;
}
.navbar .container:after {
   clear: both;
}
.navbar .collapse {
   display: none;
}
.navbar .collapse.show {
   display: block;
}
.navbar .collapsing {
   height: 0;
   overflow: hidden;
   position: relative;
   transition: height .35s ease;
}
.navbar .caret,
.navbar .caret-right {
   border-bottom: 0 dotted;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 4px solid #000;
   display: inline-block;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   width: 0;
}
.navbar .dropdown {
   position: relative;
}
.navbar .dropdown-toggle:focus {
   outline: 0;
}
.navbar .dropdown-menu {
   background-clip: padding-box;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   display: none;
   float: left;
   font-size: 16px;
   left: 0;
   list-style: none;
   margin: 2px 0 0;
   min-width: 160px;
   padding: 5px 0;
   position: absolute;
   top: 100%;
   z-index: 1000;
}
.navbar .dropdown-menu .divider {
   background-color: #C5C5C5;
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
}
.navbar .dropdown-menu>li>a {
   clear: both;
   color: #454545;
   display: block;
   line-height: 1.428571429;
   padding: 3px 20px 3px 20px;
   white-space: nowrap;
}
.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus {
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.navbar .dropdown-menu>li>a.active,
.navbar .dropdown-menu>li>a.active:hover,
.navbar .dropdown-menu>li>a.active:focus {
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   outline: 0;
   text-decoration: none;
}
.navbar .show>.dropdown-menu {
   display: block;
}
.navbar .show>a {
   outline: 0;
}
.navbar .dropdown-header {
   color: #aeaeae;
   display: block;
   line-height: 1.428571429;
   padding: 3px 20px;
}
.navbar .dropdown-backdrop {
   bottom: 0;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 990;
}
.navbar .nav>li {
   display: block;
   position: relative;
}
.navbar .nav>li>a {
   display: block;
   padding: 10px 15px 10px 15px;
   position: relative;
}
.navbar .nav .show>a,
.navbar .nav .show>a:hover,
.navbar .nav .show>a:focus {
   border-color: #FFFFFF;
}
.navbar .nav .nav-divider {
   background-color: #C5C5C5;
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
}
.navbar .nav .caret {
   border-bottom-color: #FFFFFF;
   border-top-color: #FFFFFF;
}
.navbar {
   position: relative;
}
.navbar:before,
.navbar:after {
   content: " ";
   display: table;
}
.navbar:after {
   clear: both;
}
.navbar .navbar-header:before,
.navbar .navbar-header:after {
   content: " ";
   display: table;
}
.navbar .navbar-header:after {
   clear: both;
}
.navbar-navbar-collapse {
   -webkit-overflow-scrolling: touch;
   overflow-x: visible;
}
.navbar-navbar-collapse:before,
.navbar-navbar-collapse:after {
   content: " ";
   display: table;
}
.navbar-navbar-collapse:after {
   clear: both;
}
.navbar-navbar-collapse.show {
   overflow-y: auto;
}
.navbar .navbar-toggle {
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
   float: left;
   padding: 11px 10px 10px 10px;
   position: relative;
}
.navbar .navbar-toggle .icon-bar {
   border-radius: 1px;
   display: block;
   height: 2px;
   width: 22px;
}
.navbar .navbar-toggle .icon-bar+.icon-bar {
   margin-top: 4px;
}
.navbar .navbar-nav {
   margin: 6px -15px;
}
.navbar .navbar-nav>li>.dropdown-menu {
   margin-top: 0;
}
.navbar .navbar-nav>li>a {
   color: #454545;
}
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.navbar .navbar-nav>li>a.active,
.navbar .navbar-nav>li>a.active:hover,
.navbar .navbar-nav>li>a.active:focus {
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.navbar .navbar-toggle {
   border: 1px solid transparent;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
   background-color: transparent;
}
.navbar .navbar-toggle .icon-bar {
   background-color: #FFFFFF;
}
.navbar-navbar-collapse {
   border-color: rgba(197,197,197,1.00);
}
.navbar .navbar-nav>.dropdown>a:hover .caret,
.navbar .navbar-nav>.dropdown>a:focus .caret {
   border-bottom-color: #2B2B2B;
   border-top-color: #2B2B2B;
}
.navbar .navbar-nav>.show>a,
.navbar .navbar-nav>.show>a:hover,
.navbar .navbar-nav>.show>a:focus {
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.navbar .navbar-nav>.show>a .caret,
.navbar .navbar-nav>.show>a:hover .caret,
.navbar .navbar-nav>.show>a:focus .caret {
   border-bottom-color: #2B2B2B;
   border-top-color: #2B2B2B;
}
.navbar .navbar-nav>.dropdown>a .caret {
   border-bottom-color: #454545;
   border-top-color: #454545;
}
.navbar .navbar-link {
   color: #454545;
}
.navbar .navbar-link:hover {
   color: #2B2B2B;
}
.navbar .navbar-header {
   color: #FFFFFF;
}
@media (min-width: 768px) {
.navbar .navbar-right .dropdown-menu {
   left: auto;
   right: 0;
}
.navbar .navbar-header {
   float: left;
}
.navbar-navbar-collapse {
   border-top: 0;
   box-shadow: none;
   width: auto;
}
.navbar-navbar-collapse.collapse {
   display: block !important;
   height: auto !important;
   overflow: visible !important;
   padding-bottom: 0;
}
.navbar-navbar-collapse.show {
   overflow-y: auto;
}
.navbar .navbar-toggle {
   display: none;
}
.navbar .navbar-nav {
   float: left;
   margin: 0;
}
.navbar .navbar-nav>li {
   float: left;
}
.navbar .container>.navbar-header,
.navbar .container>.navbar-navbar-collapse {
   margin-left: 0;
   margin-right: 0;
}
.navbar .navbar-nav>.dropdown>a:hover .caret,
.navbar .navbar-nav>.dropdown>a:focus .caret {
   border-bottom-color: #FFFFFF;
   border-top-color: #FFFFFF;
}
}
@media (max-width: 768px) {
.navbar {
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.navbar .navbar-nav {
   background-color: #F6F6F6;
   background-image: none;
   margin: 0;
}
.navbar .navbar-nav .show .dropdown-menu {
   background-color: transparent;
   border: 0;
   box-shadow: none;
   float: none;
   margin-top: 0;
   position: static  !important;
   transform: translate3d(0px, 0px, 0px)  !important;
   width: auto;
}
.navbar .navbar-nav .show .dropdown-menu>li>a,
.navbar .navbar-nav .show .dropdown-menu .dropdown-header {
   padding: 5px 15px 5px 25px;
}
.navbar .navbar-nav .show .dropdown-menu>li>a {
   line-height: 20px;
}
}
@media (min-width: 768px) {
.navbar .navbar-nav>li>a {
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
   color: #FFFFFF;
   margin-right: 10px;
}
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
   background-color: #AD1C4B;
   background-image: none;
   color: #FFFFFF;
}
.navbar .navbar-nav>li>a.active,
.navbar .navbar-nav>li>a.active:hover,
.navbar .navbar-nav>li>a.active:focus {
   background-color: #AD1C4B;
   background-image: none;
   color: #FFFFFF;
}
.navbar .navbar-nav>.show>a,
.navbar .navbar-nav>.show>a:hover,
.navbar .navbar-nav>.show>a:focus {
   background-color: #AD1C4B;
   background-image: none;
   color: #FFFFFF;
}
.navbar .navbar-nav>.dropdown>a:hover .caret {
   border-bottom-color: #FFFFFF;
   border-top-color: #FFFFFF;
}
.navbar .navbar-nav>.dropdown>a .caret {
   border-bottom-color: #FFFFFF;
   border-top-color: #FFFFFF;
}
.navbar .navbar-nav > li > a.active > .caret,
.navbar .navbar-nav > li > a.active:hover > .caret,
.navbar .navbar-nav > li > a.active:focus > .caret {
   border-bottom-color: #FFFFFF;
   border-top-color: #FFFFFF;
}
.navbar .navbar-nav>.show>a .caret,
.navbar .navbar-nav>.show>a:hover .caret,
.navbar .navbar-nav>.show>a:focus .caret {
   border-bottom-color: #FFFFFF;
   border-top-color: #FFFFFF;
}
.navbar .navbar-link {
   color: #FFFFFF;
}
.navbar .navbar-link:hover {
   color: #fff;
}
}
#wb_navbar.affix {
   left: 50%  !important;
   margin-left: -452px;
   position: fixed  !important;
   top: 0  !important;
}
#navbar i {
   font-size: 16px;
   left: 0;
   margin-right: 4px;
   position: relative;
   top: 0;
   width: 16px;
}
#wb_navbar {
   height: 41px;
   left: 228px;
   position: absolute;
   top: 32px;
   width: 954px;
   z-index: 14;
}
#wb_Shape1 {
   height: 1162px;
   left: 1px;
   position: absolute;
   top: 743px;
   width: 1359px;
   z-index: 2;
}
#wb_Image1 {
   height: 673px;
   left: 429px;
   position: absolute;
   top: 70px;
   width: 503px;
   z-index: 3;
}
#Button1 {
   height: 46px;
   left: 694px;
   position: absolute;
   top: 1733px;
   width: 238px;
   z-index: 12;
}
#wb_Text4 {
   height: 20px;
   left: 450px;
   position: absolute;
   text-align: justify;
   top: 943px;
   width: 482px;
   z-index: 7;
}
#wb_Image2 {
   height: 56px;
   left: 123px;
   position: absolute;
   top: 20px;
   width: 60px;
   z-index: 1;
}
#wb_Text5 {
   height: 130px;
   left: 0px;
   opacity: 0.10;
   position: absolute;
   top: 1185px;
   width: 748px;
   z-index: 9;
}
#wb_Image3 {
   height: 665px;
   left: 434px;
   opacity: 0.10;
   position: absolute;
   top: 904px;
   width: 498px;
   z-index: 6;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: "Qalisso";
   font-size: 181px;
   letter-spacing: 19.07px;
   line-height: 173px;
}
#Shape1 {
   height: 1162px;
   width: 1359px;
}
#wb_Text1 {
   height: 128px;
   left: 162px;
   position: absolute;
   text-align: center;
   top: 252px;
   width: 1036px;
   z-index: 0;
}
#wb_Text2 {
   height: 54px;
   left: 479px;
   position: absolute;
   text-align: center;
   top: 623px;
   width: 370px;
   z-index: 4;
}
#wb_Text10 {
   height: 39px;
   left: 287px;
   position: absolute;
   text-align: center;
   top: 1737px;
   width: 512px;
   z-index: 13;
}
#wb_Text3 {
   height: 39px;
   left: 287px;
   position: absolute;
   text-align: center;
   top: 824px;
   width: 755px;
   z-index: 5;
}
#homeButton {
   height: 46px;
   left: 591px;
   position: absolute;
   top: 1838px;
   width: 147px;
   z-index: 8;
}
#wb_YouTube1 {
   height: 325px;
   left: 450px;
   position: absolute;
   top: 980px;
   width: 578px;
   z-index: 10;
}
#wb_YouTube2 {
   height: 325px;
   left: 450px;
   position: absolute;
   top: 1338px;
   width: 578px;
   z-index: 11;
}
